*
{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
}

h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
}

h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

p2 {
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
}

a{
   color: #C43DC8;
   text-decoration: none;
}

a:hover {
    font-style: italic;
}

.helptext{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #481575;
}

#intro {
    font-size: 48px;
    font-weight: 300;
    line-height: 120%; 
}

.sign {
    position: fixed;
    width: 90%;
    max-width: 400px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #481575;
    background-color: #ffe9f3;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 24px;
    z-index: 888;
    text-align: center;
    filter: drop-shadow(0px 40px 80px rgba(160, 0, 109, 0.2));
}

#animation {
    width: 88px;
    height: 48px;
    margin: auto;
    margin-bottom: 12px;
    background-image: url(img/icons/drag_animation.svg);
}

.project {
    position: fixed;
    width: 90%;
    max-width: 400px;
    top: 10%;
    left: 50%;
    padding: 24px;
    transform: translateX(-50%);
    color: #481575;
    background-color: #ffe5f1;
    filter: drop-shadow(0px 40px 80px rgba(160, 0, 109, 0.2));
    border-radius: 16px;
    z-index: 888;

    box-sizing: border-box;
  }

.content {
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 16px;
}

.text {
    width: 100%;
    display: block;
}

.thumbnail{
    display: flex;
    width: 80px;
    min-width: 80px;
    height: 80px;
    margin-right: 16px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button{
    width: 100%;
    padding: 16px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: none;
    background-color: #fecfeb;
    color: #481575;
    border-radius: 12px;
}

.button:hover {
    cursor: pointer;
    color: #FFC6EA; 
    background-color: #6a0061;
}
.button:active { 
    cursor: pointer;
    color: #FFC6EA; 
    background-color: #6a0061;
}

.modal {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: #1c0024;
    color: white;
    position: fixed; 
    z-index: 999; 
    display: none;
}

.header {
    height: 520px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 64px;
    font-weight: 600;
    max-width: 800px;
    margin: auto;
}

.modal-content-wrapper {
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    justify-content: space-between;
}

.project-img{
    width:100%;
    height:auto;
}

.credits {
    text-align: center;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#menu-items{
    height: 100%;
    flex-shrink: 1;
    background-color: #1c0024;
    color: #fecfeb;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.menu-item{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 12px 32px 12px 32px;
}

#overlay{
    height: 100%;
    flex-grow: 1;
    background-color: rgba(28,0,36, 0.5);
}

#logo{
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    z-index: 999;
}

#menu-icon{
    position: fixed;
    background-image: url("/img/icons/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    z-index: 999;
}

#menu-icon:hover {
    cursor: pointer;
    background-color: #ff9bd7;
}


.close {
    position: fixed;
    background-image: url("/img/icons/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fecfeb;
    background-size: 32px;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    z-index: 999;
}

.close:hover {
    cursor: pointer;
    background-color: #ff9bd7;
}

.embed-container {
    --video--width: 960;
    --video--height: 540;
  
    position: relative;
    padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 41.66666667% */
    overflow: hidden;
    max-width: 100%;
    background: black;
  }
  
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* Fade-In Effect */
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}
/* Fade-Out Effect */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}


@media only screen and (max-width: 1200px) {
    .modal-content-wrapper {
        margin: 48px 48px 48px 48px;
        row-gap: 64px;
    }

    .header-wrapper {
        margin: auto 48px auto 48px;
    }

}



@media only screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    p2 {
        font-size: 18px;
    }

    #intro {
        font-size: 24px;
    }    

    .helptext span {
        display: none;
      }
    .helptext:after {
        content:'Swipe to explore';
    }

    #animation{
        background-image: url(img/icons/swipe_animation.svg);
    }

    .project {
        padding: 16px;
    }

    .modal-content-wrapper {
        margin: 32px 20px 48px 20px;
        row-gap: 40px;
    }

    .header {
        height: 360px;
    }

    .header-wrapper {
        margin: auto 20px auto 20px;
        font-size: 48px;
    }

  }